## Quiz: Imputation Exercise

In [40]:
import pandas
import numpy

def imputation(filename):
    # Pandas dataframes have a method called 'fillna(value)', such that you can
    # pass in a single value to replace any NAs in a dataframe or series. You
    # can call it like this: 
    #     dataframe['column'] = dataframe['column'].fillna(value)
    #
    # Using the numpy.mean function, which calculates the mean of a numpy
    # array, impute any missing values in our Lahman baseball
    # data sets 'weight' column by setting them equal to the average weight.
    # 
    # You can access the 'weight' colum in the baseball data frame by
    # calling baseball['weight']

    baseball = pandas.read_csv(filename)
    baseball['weight'] = baseball['weight'].fillna(numpy.mean(baseball['weight']))
    return baseball

In [41]:
print (imputation('Master.csv'))

        playerID  birthYear  birthMonth  birthDay birthCountry birthState  \
0      aardsda01     1981.0        12.0      27.0          USA         CO
1      aaronha01     1934.0         2.0       5.0          USA         AL
2      aaronto01     1939.0         8.0       5.0          USA         AL
3       aasedo01     1954.0         9.0       8.0          USA         CA
4       abadan01     1972.0         8.0      25.0          USA         FL
5       abadfe01     1985.0        12.0      17.0         D.R.  La Romana
6      abadijo01     1854.0        11.0       4.0          USA         PA
7      abbated01     1877.0         4.0      15.0          USA         PA
8      abbeybe01     1869.0        11.0      11.0          USA         VT
9      abbeych01     1866.0        10.0      14.0          USA         NE
10     abbotda01     1862.0         3.0      16.0          USA         OH
11     abbotfr01     1874.0        10.0      22.0          USA         OH
12     abbotgl01     1951.0         2.0      16.0          USA         AR
13     abbotje01     1972.0         8.0      17.0          USA         GA
14     abbotji01     1967.0         9.0      19.0          USA         MI
15     abbotku01     1969.0         6.0       2.0          USA         OH
16     abbotky01     1968.0         2.0      18.0          USA         MA
17     abbotod01     1888.0         9.0       5.0          USA         PA
18     abbotpa01     1967.0         9.0      15.0          USA         CA
19      aberal01     1927.0         7.0      31.0          USA         OH
20     abercda01     1850.0         1.0       2.0          USA         OK
21     abercre01     1980.0         7.0      15.0          USA         GA
22     abernbi01     1929.0         1.0      30.0          USA         CA
23     abernbr01     1977.0         9.0      23.0          USA         GA
24     abernte01     1921.0        10.0      30.0          USA         NC
25     abernte02     1933.0         3.0       6.0          USA         NC
26     abernwo01     1915.0         2.0       1.0          USA         NC
27     aberscl01     1921.0         8.0      28.0          USA         IL
28     ablesha01     1883.0        10.0       4.0          USA         TX
29     abnersh01     1966.0         6.0      17.0          USA         OH
...          ...        ...         ...       ...          ...        ...
18324  zimmejo01     1975.0         4.0      28.0          CAN         BC
18325  zimmejo02     1986.0         5.0      23.0          USA         WI
18326  zimmero01     1916.0         9.0      13.0          USA         PA
18327  zimmery01     1984.0         9.0      28.0          USA         NC
18328   zinkch01     1979.0         8.0      26.0          USA         CA
18329   zinkwa01     1898.0        11.0      21.0          USA         MA
18330   zinnfr01     1865.0        12.0      21.0          USA         PA
18331   zinngu01     1887.0         2.0      13.0          USA         WV
18332   zinnji01     1895.0         1.0      21.0          USA         AR
18333  zinsebi01     1918.0         1.0       6.0          USA         NY
18334  zinteal01     1968.0         5.0      19.0          USA         TX
18335  zipfebu01     1938.0        11.0      18.0          USA         IL
18336   ziskri01     1949.0         2.0       6.0          USA         NY
18337   zitoba01     1978.0         5.0      13.0          USA         NV
18338  zitzmbi01     1895.0        11.0      19.0          USA         NY
18339  zmiched01     1884.0        10.0       1.0          USA         OH
18340  zobribe01     1981.0         5.0      26.0          USA         IL
18341  zoccope01     1977.0         2.0       6.0          USA         NY
18342  zoldasa01     1918.0        12.0       8.0          USA         NY
18343  zoskyed01     1968.0         2.0      10.0          USA         CA
18344  zuberbi01     1913.0         3.0      26.0          USA         IA
18345  zuberjo01     1969.0        12.0      10.0          USA         CA
18346  zuletju01     1975.0         3.0      28.0       Panama     Panama
18347  zumayjo01     1984.0        11.0       9.0          USA         CA
18348  zuninmi01     1991.0         3.0      25.0          USA         FL
18349  zupcibo01     1966.0         8.0      18.0          USA         PA
18350   zupofr01     1939.0         8.0      29.0          USA         CA
18351  zuvelpa01     1958.0        10.0      31.0          USA         CA
18352  zuverge01     1924.0         8.0      20.0          USA         MI
18353  zwilldu01     1888.0        11.0       2.0          USA         MO

              birthCity  deathYear  deathMonth  deathDay    ...      \
0                Denver        NaN         NaN       NaN    ...
1                Mobile        NaN         NaN       NaN    ...
2                Mobile     1984.0         8.0      16.0    ...
3                Orange        NaN         NaN       NaN    ...
4            Palm Beach        NaN         NaN       NaN    ...
5             La Romana        NaN         NaN       NaN    ...
6          Philadelphia     1905.0         5.0      17.0    ...
7               Latrobe     1957.0         1.0       6.0    ...
8                 Essex     1962.0         6.0      11.0    ...
9            Falls City     1926.0         4.0      27.0    ...
10              Portage     1930.0         2.0      13.0    ...
11           Versailles     1935.0         6.0      11.0    ...
12          Little Rock        NaN         NaN       NaN    ...
13              Atlanta        NaN         NaN       NaN    ...
14                Flint        NaN         NaN       NaN    ...
15           Zanesville        NaN         NaN       NaN    ...
16          Newburyport        NaN         NaN       NaN    ...
17            New Eagle     1933.0         4.0      13.0    ...
18             Van Nuys        NaN         NaN       NaN    ...
19            Cleveland     1993.0         5.0      20.0    ...
20          Fort Towson     1939.0        11.0      11.0    ...
21             Columbus        NaN         NaN       NaN    ...
22             Torrance     2006.0         2.0      19.0    ...
23              Atlanta        NaN         NaN       NaN    ...
24                Bynum     2001.0        11.0      16.0    ...
25              Stanley     2004.0        12.0      16.0    ...
26          Forest City     1994.0        12.0       5.0    ...
27              Chicago     1973.0         6.0      23.0    ...
28              Terrell     1951.0         2.0       8.0    ...
29             Hamilton        NaN         NaN       NaN    ...
...                 ...        ...         ...       ...    ...
18324           Kelowna        NaN         NaN       NaN    ...
18325        Auburndale        NaN         NaN       NaN    ...
18326        Pine Grove     1991.0        11.0      22.0    ...
18327        Washington        NaN         NaN       NaN    ...
18328        Carmichael        NaN         NaN       NaN    ...
18329        Pittsfield     1964.0         6.0      12.0    ...
18330      Phoenixville     1936.0         5.0      12.0    ...
18331          Holbrook     1949.0        10.0       6.0    ...
18332            Benton     1991.0         2.0      26.0    ...
18333           Astoria     1993.0         2.0      16.0    ...
18334           El Paso        NaN         NaN       NaN    ...
18335        Belleville        NaN         NaN       NaN    ...
18336          Brooklyn        NaN         NaN       NaN    ...
18337         Las Vegas        NaN         NaN       NaN    ...
18338  Long Island City     1985.0         5.0      29.0    ...
18339         Cleveland     1950.0         8.0      20.0    ...
18340            Eureka        NaN         NaN       NaN    ...
18341             Bronx        NaN         NaN       NaN    ...
18342          Brooklyn     1966.0         8.0      25.0    ...
18343          Whittier        NaN         NaN       NaN    ...
18344      Middle Amana     1982.0        11.0       2.0    ...
18345            Encino        NaN         NaN       NaN    ...
18346            Panama        NaN         NaN       NaN    ...
18347       Chula Vista        NaN         NaN       NaN    ...
18348        Cape Coral        NaN         NaN       NaN    ...
18349        Pittsburgh        NaN         NaN       NaN    ...
18350     San Francisco     2005.0         3.0      25.0    ...
18351         San Mateo        NaN         NaN       NaN    ...
18352           Holland        NaN         NaN       NaN    ...
18353         St. Louis     1978.0         3.0      27.0    ...

          nameLast           nameGiven      weight height bats throws  \
0          Aardsma         David Allan  205.000000   75.0    R      R
1            Aaron         Henry Louis  180.000000   72.0    R      R
2            Aaron          Tommie Lee  190.000000   75.0    R      R
3             Aase      Donald William  190.000000   75.0    R      R
4             Abad       Fausto Andres  184.000000   73.0    L      L
5             Abad    Fernando Antonio  220.000000   73.0    L      L
6           Abadie             John W.  192.000000   72.0    R      R
7      Abbaticchio        Edward James  170.000000   71.0    R      R
8            Abbey           Bert Wood  175.000000   71.0    R      R
9            Abbey          Charles S.  169.000000   68.0    L      L
10          Abbott    Leander Franklin  190.000000   71.0    R      R
11          Abbott     Harry Frederick  180.000000   70.0    R      R
12          Abbott       William Glenn  200.000000   78.0    R      R
13          Abbott     Jeffrey William  190.000000   74.0    R      L
14          Abbott       James Anthony  200.000000   75.0    L      L
15          Abbott         Kurt Thomas  180.000000   71.0    R      R
16          Abbott       Lawrence Kyle  200.000000   76.0    L      L
17          Abbott           Ody Cleon  180.000000   74.0    R      R
18          Abbott          Paul David  185.000000   75.0    R      R
19            Aber       Albert Julius  195.000000   74.0    L      L
20     Abercrombie   Francis Patterson  185.232134    NaN  NaN    NaN
21     Abercrombie   Reginald Damascus  215.000000   75.0    R      R
22      Abernathie      William Edward  190.000000   70.0    R      R
23       Abernathy       Michael Brent  185.000000   73.0    R      R
24       Abernathy  Talmadge Lafayette  210.000000   74.0    R      L
25       Abernathy       Theodore Wade  215.000000   76.0    R      R
26       Abernathy      Virgil Woodrow  170.000000   72.0    L      L
27         Aberson  Clifford Alexander  200.000000   72.0    R      R
28           Ables       Harry Terrell  200.000000   74.0    R      L
29           Abner        Shawn Wesley  190.000000   73.0    R      R
...            ...                 ...         ...    ...  ...    ...
18324    Zimmerman      Jordan William  200.000000   72.0    R      L
18325   Zimmermann           Jordan M.  220.000000   74.0    R      R
18326    Zimmerman        Roy Franklin  187.000000   74.0    L      L
18327    Zimmerman        Ryan Wallace  230.000000   75.0    R      R
18328         Zink       Charles Tadao  190.000000   73.0    R      R
18329         Zink        Walter Noble  165.000000   72.0    R      R
18330         Zinn       Frank Patrick  150.000000   68.0  NaN    NaN
18331         Zinn                 Guy  170.000000   70.0    L      R
18332         Zinn        James Edward  195.000000   72.0    L      R
18333       Zinser     William Francis  185.000000   73.0    R      R
18334       Zinter        Alan Michael  200.000000   74.0    B      R
18335       Zipfel    Marion Sylvester  200.000000   75.0    L      R
18336         Zisk      Richard Walter  200.000000   73.0    R      R
18337         Zito       Barry William  205.000000   74.0    L      L
18338     Zitzmann      William Arthur  175.000000   70.0    R      R
18339        Zmich       Edward Albert  180.000000   72.0    L      L
18340      Zobrist     Benjamin Thomas  210.000000   75.0    B      R
18341   Zoccolillo          Peter Jude  200.000000   74.0    L      R
18342       Zoldak       Samuel Walter  185.000000   71.0    L      L
18343        Zosky        Edward James  175.000000   72.0    R      R
18344        Zuber       William Henry  195.000000   74.0    R      R
18345        Zuber          Jon Edward  190.000000   73.0    L      L
18346       Zuleta       Julio Ernesto  230.000000   78.0    R      R
18347       Zumaya         Joel Martin  215.000000   75.0    R      R
18348       Zunino     Michael Accorsi  220.000000   74.0    R      R
18349       Zupcic              Robert  220.000000   76.0    R      R
18350         Zupo        Frank Joseph  182.000000   71.0    L      R
18351      Zuvella                Paul  173.000000   72.0    R      R
18352     Zuverink              George  195.000000   76.0    R      R
18353     Zwilling     Edward Harrison  160.000000   66.0    L      L

            debut   finalGame   retroID    bbrefID
0      2004-04-06  2013-09-28  aardd001  aardsda01
1      1954-04-13  1976-10-03  aaroh101  aaronha01
2      1962-04-10  1971-09-26  aarot101  aaronto01
3      1977-07-26  1990-10-03  aased001   aasedo01
4      2001-09-10  2006-04-13  abada001   abadan01
5      2010-07-28  2013-09-27  abadf001   abadfe01
6      1875-04-26  1875-06-10  abadj101  abadijo01
7      1897-09-04  1910-09-15  abbae101  abbated01
8      1892-06-14  1896-09-23  abbeb101  abbeybe01
9      1893-08-16  1897-08-19  abbec101  abbeych01
10     1890-04-19  1890-05-23  abbod101  abbotda01
11     1903-04-25  1905-09-20  abbof101  abbotfr01
12     1973-07-29  1984-08-08  abbog001  abbotgl01
13     1997-06-10  2001-09-29  abboj002  abbotje01
14     1989-04-08  1999-07-21  abboj001  abbotji01
15     1993-09-07  2001-04-13  abbok002  abbotku01
16     1991-09-10  1996-08-24  abbok001  abbotky01
17     1910-09-10  1910-10-15  abboo101  abbotod01
18     1990-08-21  2004-08-07  abbop001  abbotpa01
19     1950-09-15  1957-09-11  abera101   aberal01
20     1871-10-21  1871-10-21  aberd101  abercda01
21     2006-04-04  2008-09-28  aberr001  abercre01
22     1952-09-27  1952-09-27  aberb101  abernbi01
23     2001-06-25  2005-09-29  aberb001  abernbr01
24     1942-09-19  1944-04-29  abert102  abernte01
25     1955-04-13  1972-09-30  abert101  abernte02
26     1946-07-28  1947-04-17  aberw101  abernwo01
27     1947-07-18  1949-05-09  aberc101  aberscl01
28     1905-09-04  1911-05-05  ableh101  ablesha01
29     1987-09-08  1992-10-03  abnes001  abnersh01
...           ...         ...       ...        ...
18324  1999-05-17  1999-07-02  zimmj002  zimmejo01
18325  2009-04-20  2013-09-25  zimmj003  zimmejo02
18326  1945-08-27  1945-09-30  zimmr101  zimmero01
18327  2005-09-01  2013-09-28  zimmr001  zimmery01
18328  2008-08-12  2008-08-12  zinkc001   zinkch01
18329  1921-07-06  1921-07-19  zinkw101   zinkwa01
18330  1888-04-18  1888-05-03  zinnf101   zinnfr01
18331  1911-09-11  1915-09-16  zinng101   zinngu01
18332  1919-09-04  1929-08-25  zinnj101   zinnji01
18333  1944-08-19  1944-08-26  zinsb101  zinsebi01
18334  2002-06-18  2004-10-03  zinta001  zinteal01
18335  1961-07-26  1962-09-30  zipfb101  zipfebu01
18336  1971-09-08  1983-09-21  ziskr101   ziskri01
18337  2000-07-22  2013-09-29  zitob001   zitoba01
18338  1919-04-27  1929-09-25  zitzb101  zitzmbi01
18339  1910-07-23  1911-06-01  zmice101  zmiched01
18340  2006-08-01  2013-09-30  zobrb001  zobribe01
18341  2003-09-05  2003-09-28  zoccp001  zoccope01
18342  1944-05-13  1952-08-26  zolds101  zoldasa01
18343  1991-09-02  2000-10-01  zoske001  zoskyed01
18344  1936-09-16  1947-09-23  zubeb101  zuberbi01
18345  1996-04-19  1998-09-27  zubej001  zuberjo01
18346  2000-04-06  2001-06-25  zulej001  zuletju01
18347  2006-04-03  2010-06-28  zumaj001  zumayjo01
18348  2013-06-12  2013-09-29  zunim001  zuninmi01
18349  1991-09-07  1994-08-04  zupcb001  zupcibo01
18350  1957-07-01  1961-05-09  zupof101   zupofr01
18351  1982-09-04  1991-05-02  zuvep001  zuvelpa01
18352  1951-04-21  1959-06-15  zuveg101  zuverge01
18353  1910-08-14  1916-07-12  zwild101  zwilldu01

[18354 rows x 24 columns]